$border-color:#dcdcdc;
.user-profile-box{
    margin-bottom:50px;
    margin-top:30px;
}
.list{
    .tab-head{
        display:table;
        margin-bottom:50px;

      li{
        display:table-cell;
        cursor:pointer;
        border-bottom: 2px solid $border-color;
        padding:3px;
      }
     .on{
        border-left:2px solid $border-color;
        border-top:2px solid $border-color;
        border-right:2px solid $border-color;
        border-bottom:0px solid $border-color;
        display:inline-block;
        cursor:default;
        background-color:gray;
        padding-bottom:5px;
        color:#f5f5f5;
      }
    } 
    .tab-body{
        &>li{
        display:none;
        }
        .on{
            display:inline-block;
            width: 100%;
        }
        .user-book-content{
          display:table;
          padding-bottom:50px;
          .book-image{
            display:table-cell;
          } 
          .book-detail{
            display:table-cell;
          }
        }
    }
}
.comment-content{
  border:2px solid #dcdcdc;
  margin:10px 20px;
}
.comment-content-head {
  display:flex;
  align-items:center;
  img{
      width:30px;
      height:30px;
      border-radius:50%;
  }
  h2{
    font-size:20px;
    margin:0;
    display:inline-block;
    
  }
}
.comment-text{
  font-size:20px;
}
.user-img{
  width:30px;
  height:30px;
  border-radius:50%;
}
.text{
  padding-right:135px;
  
}
.user-text{
  padding-bottom:5px;
}
.user-name{
  font-size:35px;
}
.form-user-name{
  width:400px !important;
}
.form-user-text{
}
.detail-form{
  margin-bottom:20px;
}
.word-count{
  
}
.count_alert,.count_alert_name{
  color:red;
}