<h2>いいねランキング</h2>
  <% @likes = Like.group(:book_id).order('count(user_id) desc').limit(10)  %>
  <% @likes.each do |like| %>
    <% book = like.book %>
    <%= render partial: "layouts/sidebar_template",locals: {book: book} %>
  <% end %>
